In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict
import codecs
import csv
import datetime

In [2]:
# Kodeeringu parandamine UTF-8ks

with open('varem.csv') as f:
    tekst = f.readlines()

with open('varemkirjutatud.csv', mode='w', encoding="utf-8") as f:
    wr = csv.writer(f, delimiter=';')
    for rida in tekst:
        osad = rida.strip().split(';')
        wr.writerow(osad)

with open('hiljem.csv') as f:
    tekst = f.readlines()

with open('hiljemkirjutatud.csv', mode='w', encoding="utf-8") as f:
    wr = csv.writer(f, delimiter=';')
    for rida in tekst:
        osad = rida.strip().split(';')
        wr.writerow(osad)

In [3]:
# Andmete ühedamine ühte dataframe'i

too_early = pd.read_csv("varemkirjutatud.csv", sep=";")
too_late = pd.read_csv('hiljemkirjutatud.csv', sep=";")
data = pd.concat([too_early, too_late])
routes = data.route_short_name.unique()
print(len(data))

392435

In [4]:
# Veergude "estimated_departure_time" ja "deviation" formaadi parandamine
# Mõnes väljas esines probleem, et väärtuses esines juhuslik koma

# Veergude "id", "route_long_name", "user_id", "stop_code" kustutamine

new_estimated_departure_time = []
new_deviation = []
for dp, ed, dev in zip(data["departure_time"],data["estimated_departure_time"], data['deviation']):
    if "," in ed:
        #print(dp)
        #print(ed)
        dp_o = dp.split(":")
        ed_o = ed.split(",")
        ed_o = ed_o[0].split(":")
        dev = dev.split('.')[0]
        dev = dev.split(',')[0]
        if len(dev.split(":")) < 3:
            dev = "00:"+dev
        new_deviation += [dev]
        lst = []
        if ed_o[0][0] != '0' and ed_o[0][0] != '5':
            lst += [dp_o[0]]
            lst +=ed_o
        elif ed_o[0][0] == '0':     
            if dp_o[1][0] == '5':
                if dp_o[0] != '23':
                    abi = int(dp_o[0])+1
                else:
                    abi = '00'
                lst += [str(abi)]
                lst +=ed_o
            else:
                lst += [dp_o[0]]
                lst +=ed_o
        elif ed_o[0][0] == '5':     
            if dp_o[1][0] == '0':
                if dp_o[0] != '00':
                    abi = int(dp_o[0])-1
                else:
                    abi = '23'
                lst += [str(abi)]
                lst +=ed_o
            else:
                lst += [dp_o[0]]
                lst +=ed_o
        aeg = ":".join(lst)
        new_estimated_departure_time += [aeg]
    else:
        new_estimated_departure_time += [ed]
        dev = dev.split(".")[0]
        if len(dev.split(":")) < 3:
            dev = "00:"+dev
        new_deviation += [dev]
data['estimated_departure_time'] = new_estimated_departure_time
data['deviation'] = new_deviation
data.drop(['id', 'route_long_name', "user_id", "stop_code"], axis=1, inplace=True)
data.head()

,route_short_name,a_date,trip_departure_time,trip_id,stop_sequence,stop_id,stop_name,departure_time,estimated_departure_time,deviation,name,location_id
0,21,01.09.2019,04:20:00,2340749,1,2044001,Soola I,04:20:00,04:19:30,-00:00:30,Juht1,474TNS
1,21,01.09.2019,04:20:00,2340749,2,2043903,Aida,04:21:00,04:20:15,-00:00:45,Juht1,474TNS
2,21,01.09.2019,04:20:00,2340749,3,2044076,Silla II,04:22:00,04:21:48,-00:00:12,Juht1,474TNS
3,21,01.09.2019,04:20:00,2340749,4,2044071,Vaba,04:23:00,04:22:40,-00:00:20,Juht1,474TNS
4,21,01.09.2019,04:20:00,2340749,5,2044073,Tähe Erakliinik,04:25:00,04:24:09,-00:00:51,Juht1,474TNS

In [5]:
# Veeru "deviation" konverteerimine formaadist "hh:mm:ss" täisarvuks

new_deviation = []
for dev in data.deviation:
    as_int = int(dev[-2:]) + 60 * int(dev[-5:-3]) + 60 * 60 * int(dev[-8:-6])
    if dev[0] == "-":
        as_int = as_int * (-1)
    new_deviation.append(as_int)
data.deviation = new_deviation

In [6]:
# Ridade kustutamine, kus deviation suurem või väiksem 15 minutist

data = data[(data.deviation > 15*(-60)) & (data.deviation < 15*60)]

In [7]:
# Lisan veeru "wd", mis ütleb mitmes nädalapäev on
# Lisan veeru "date", mis on veerg "a_date" aga pandase datetime formaadis

data["date"] = pd.to_datetime(data["a_date"], format="%d.%m.%Y")
data["wd"] = data["date"].dt.dayofweek

In [8]:
# Trippide kustutamine, mille kohta esines andmeid ainult septembris.

# Bussigraafikud muutusid küll 1. septembril, ent hilinemisi mõõtvas süsteemis on ID-de muutumine
# toimunud hilinemisega, mistõttu on andmetes suur kogus halbu välju

bad_trips = []
for trip in data.trip_id.unique():
    dates = data[data.trip_id == trip].a_date.unique()
    dates = set([date[3:5] for date in dates])
    if dates == {'09'}:
        bad_trips.append(trip)
        
data = data[~data.trip_id.isin(bad_trips)]

In [9]:
# Andmetele veeru "total_stops" ja "route_direction_id" lisamine 

# Andmetes on kirjas ainult info liini kohta, kuid kuna liini erinevatel suundadel sõidavad
# erinevad tripid, on erinevad väljumisajad ja erinevad peatused, siis on oluline
# eristada ka liini sõitmise suunda.

# Veerg "total_stops" ütleb, mitu peatust on selle liinil kokku

data["route_direction_id"] = pd.Series()
data["total_stops"] = pd.Series()


# Suundade lisamise algoritmi põhimõte:
# 1) iga liini jaoks koostame võimalike suundade listi
# 2) iga selle liini tripi jaoks kontrollime iga võimaliku suuna jaoks suundade listis,
#    kas iga selle tripi n-s peatus on sama, mis n-s peatus sellel suunal
# 3) kui on, siis lisame selle tripi sinna suuna listi ning uuendame selle suuna kõiki puuduvate peatuste väärtuseid
#    nendega, mis esinevad lisatud tripil, kuid ei esinenud veel sellel suunal
# 4) kui ühegi suuna jaoks ei ole, siis loome uue suuna, mille peatuste listi loome selle tripi põhjal

for route_idx in routes:
    groups = []
    a = data[data["route_short_name"] == route_idx][["trip_id", "stop_sequence", "stop_name"]].groupby(["trip_id"]).agg(lambda x: list(x))
    for index, row in a.iterrows():
        no_group = True
        for group in groups:
            group_fit = True
            for i in range(len(row.stop_sequence)):
                if group[1][row.stop_sequence[i]] not in ["", row.stop_name[i]]:
                    group_fit = False
                    break
            if group_fit:
                group[0].add(index)
                for i in range(len(row.stop_sequence)):
                    group[1][row.stop_sequence[i]] = row.stop_name[i]
                no_group = False
                break

        if no_group:
            d = defaultdict(lambda: "")
            for i in range(len(row.stop_sequence)):
                d[row.stop_sequence[i]] = row.stop_name[i]
            groups.append([set(), d])
            groups[-1][0].add(index)    

    names = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k"]
    for i in range(len(groups)):  
        trips = groups[i][0]
        data.loc[data.trip_id.isin(trips), "total_stops"] = data[data.trip_id.isin(trips)].stop_sequence.max()
        data.loc[data.trip_id.isin(trips), "route_direction_id"] = route_idx + names[i]

In [10]:
# Veergude kustutamine, kus info on liini viimase peatuse kohta, kuna väljumine viimasest peatusest
# ei ole enam oluline

data = data[data.stop_sequence != data.total_stops]

In [11]:
# Kui sama trip hilines samal päeval samasse peatusesse korduvalt, siis on tegemist veaga mõõtmises ehk kustutame

data = data.drop_duplicates(['route_direction_id','stop_sequence', 'a_date', 'trip_id'],keep= 'last')

In [12]:
# Visuaalne kontroll

for c in data.columns:
    print(c)
    print(data[c].value_counts())

route_short_name
2     40203
6     31615
4     27966
10    23786
3     22151
11    21119
1     20085
8     16403
13    15501
12    14047
7     13782
9A     5123
9      3953
5      1891
25      861
22      762
21      490
69      155
E1       71
Name: route_short_name, dtype: int64
a_date
24.09.2019    9609
26.09.2019    9503
11.10.2019    9384
04.10.2019    9311
10.10.2019    9310
14.10.2019    8913
02.10.2019    8850
01.10.2019    8683
20.09.2019    8668
03.10.2019    8507
19.09.2019    8412
25.09.2019    8371
27.09.2019    8328
08.10.2019    8325
07.10.2019    8325
15.10.2019    8307
09.10.2019    8304
18.09.2019    8297
18.10.2019    8267
17.09.2019    8190
16.09.2019    8185
23.09.2019    8021
16.10.2019    7982
17.10.2019    7786
30.09.2019    7781
05.10.2019    5529
21.09.2019    5351
14.09.2019    5349
28.09.2019    4874
12.10.2019    4490
22.09.2019    4360
13.10.2019    4332
29.09.2019    4147
06.10.2019    4085
15.09.2019    3828
Name: a_date, dtype: int64
trip_departure_time
17:00:00    1892
16:45:00    1854
16:30:00    1756
17:45:00    1671
17:30:00    1624
            ...
15:40:00      16
01:20:00      11
21:40:00       8
16:40:00       8
10:57:00       6
Name: trip_departure_time, Length: 730, dtype: int64
trip_id
2386759    822
2386702    780
2386986    763
2386705    742
2386761    731
          ...
2385634      6
2385636      4
2385715      4
2385645      4
2385635      2
Name: trip_id, Length: 1930, dtype: int64
stop_sequence
17    14748
16    14329
18    14130
15    13738
14    12840
13    12441
19    11913
20    10482
7     10385
12    10156
21     9550
9      9365
11     9306
8      9261
6      8604
10     8144
5      7947
22     7935
23     6538
24     6430
4      6000
3      4942
25     4301
26     3714
2      3456
27     3094
1      3079
34     1771
33     1757
32     1738
35     1693
36     1660
31     1658
37     1596
30     1534
28     1489
29     1387
38     1211
40     1171
39     1130
41      570
51      284
53      282
50      254
52      245
49      232
48      206
47      199
45      189
44      187
46      175
42      173
43      171
54      147
55       10
56        9
57        8
Name: stop_sequence, dtype: int64
stop_id
2074816    3774
2074813    3386
2074982    3233
2074868    3102
2074830    2995
           ...
2075131      45
2075130      43
2075132      40
2075004      15
2074808       6
Name: stop_id, Length: 332, dtype: int64
stop_name
Riiamäe             5389
Pauluse             5283
Annelinna keskus    4493
Kaare               4479
Sõpruse puiestee    3816
                    ...
Puidu                 79
Lille                 79
Hotell Sophia         58
Sõbra                 15
Lennujaam              6
Name: stop_name, Length: 211, dtype: int64
departure_time
17:22:00    520
17:26:00    513
17:16:00    507
16:56:00    484
07:52:00    481
           ...
04:20:00      1
01:32:00      1
04:23:00      1
01:27:00      1
04:29:00      1
Name: departure_time, Length: 1298, dtype: int64
estimated_departure_time
16:00:47    20
17:00:27    18
17:12:15    17
08:25:26    17
15:58:28    17
            ..
00:19:17     1
10:07:40     1
20:17:36     1
21:19:56     1
10:45:50     1
Name: estimated_departure_time, Length: 63596, dtype: int64
deviation
 181    1756
 183    1736
 182    1700
-11     1684
-12     1669
        ...
-325       1
 163       1
-612       1
-370       1
-322       1
Name: deviation, Length: 1141, dtype: int64
name
Juht163    4211
Juht9      4198
Juht119    3917
Juht77     3716
Juht85     3430
           ...
Juht167      95
Juht161      82
Juht114      81
Juht170      60
Juht142      50
Name: name, Length: 159, dtype: int64
location_id
431TNS    6757
368TNS    6189
432TNS    5840
393TNS    5615
364TNS    5478
          ...
727TNS    1858
630TNS    1599
870        808
744TNS     680
872        208
Name: location_id, Length: 66, dtype: int64
date
2019-09-24    9609
2019-09-26    9503
2019-10-11    9384
2019-10-04    9311
2019-10-10    9310
2019-10-14    8913
2019-10-02    8850
2019-10-01    8683
2019-09-20    8668
2019-10-03    8507
2019-09-19    8412
2019-09-25    8371
2019-09-27    8328
2019-10-08    8325
2019-10-07    8325
2019-10-15    8307
2019-10-09    8304
2019-09-18    8297
2019-10-18    8267
2019-09-17    8190
2019-09-16    8185
2019-09-23    8021
2019-10-16    7982
2019-10-17    7786
2019-09-30    7781
2019-10-05    5529
2019-09-21    5351
2019-09-14    5349
2019-09-28    4874
2019-10-12    4490
2019-09-22    4360
2019-10-13    4332
2019-09-29    4147
2019-10-06    4085
2019-09-15    3828
Name: date, dtype: int64
wd
4    43958
3    43518
1    43114
2    41804
0    41225
5    25593
6    20752
Name: wd, dtype: int64
route_direction_id
2a     20170
2c     19980
8a     16302
4a     14757
3b     13662
11c    13487
4b     13209
10b    12290
6a     12032
10a    11496
1b     10811
6b     10383
1a      9274
13b     9106
12a     8601
3a      8489
7b      8355
11b     7136
13a     6395
6d      5468
12b     5446
7a      5427
9Ab     4828
9a      3953
6c      3732
5a      1828
25a      587
11a      496
21a      490
22a      395
22b      367
9Aa      295
25b      274
69a      155
8b       101
5b        63
2b        53
E1b       48
E1a       23
Name: route_direction_id, dtype: int64
total_stops
25.0    36222
19.0    27966
28.0    26565
23.0    19231
22.0    18872
27.0    17715
21.0    16956
41.0    16302
38.0    12290
26.0    12032
42.0    11496
18.0    11085
20.0    10926
15.0     9337
55.0     5590
54.0     3953
29.0     2123
12.0      587
58.0      490
6.0       203
7.0        23
Name: total_stops, dtype: int64

In [13]:
data.to_csv("puhastatud.csv")