In [7]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd
import codecs
import csv

In [48]:
with open('varem.csv') as f:
    tekst = f.readlines()

In [49]:
with open('varemkirjutatud.csv', mode='w', encoding="utf-8") as f:
    wr = csv.writer(f, delimiter=';')
    for rida in tekst:
        osad = rida.strip().split(';')
        wr.writerow(osad)

In [52]:
varem = pd.read_csv('varemkirjutatud.csv', sep=";")
varem

,id,route_short_name,route_long_name,a_date,trip_departure_time,trip_id,stop_sequence,stop_id,stop_name,departure_time,estimated_departure_time,deviation,user_id,name,location_id,stop_code
0,312989674,21,ööliin,01.09.2019,04:20:00,2340749,1,2044001,Soola I,04:20:00,04:19:30,-00:00:30,16812,Juht1,474TNS,7820249-1
1,312800314,21,ööliin,01.09.2019,04:20:00,2340749,2,2043903,Aida,04:21:00,04:20:15,-00:00:45,16812,Juht1,474TNS,7820007-1
2,312804010,21,ööliin,01.09.2019,04:20:00,2340749,3,2044076,Silla II,04:22:00,04:21:48,-00:00:12,16812,Juht1,474TNS,7820239-1
3,312807643,21,ööliin,01.09.2019,04:20:00,2340749,4,2044071,Vaba,04:23:00,04:22:40,-00:00:20,16812,Juht1,474TNS,7820252-1
4,312816332,21,ööliin,01.09.2019,04:20:00,2340749,5,2044073,Tähe Erakliinik,04:25:00,04:24:09,-00:00:51,16812,Juht1,474TNS,7820291-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125562,332826457,11,Kasteheina - Lõunakeskus,18.10.2019,23:17:00,2386855,1,2074918,Kasteheina,23:17:00,23:16:15,-00:00:45,17016,Juht103,462TNS,7820080-1
125563,332835515,11,Kasteheina - Lõunakeskus,18.10.2019,23:17:00,2386855,3,2075055,Ihaste,23:18:00,23:17:40,-00:00:20,17016,Juht103,462TNS,7820048-1
125564,332835587,11,Kasteheina - Lõunakeskus,18.10.2019,23:17:00,2386855,5,2075057,Männimetsa,23:20:00,23:19:28,-00:00:32,17016,Juht103,462TNS,7820158-1
125565,332835623,11,Kasteheina - Lõunakeskus,18.10.2019,23:17:00,2386855,6,2075058,Ihaste tee II,23:21:00,23:20:19,-00:00:41,17016,Juht103,462TNS,7820055-1
125566,332835659,11,Kasteheina - Lõunakeskus,18.10.2019,23:17:00,2386855,7,2075059,Ihaste tee I,23:22:00,23:20:51,-00:01:09,17016,Juht103,462TNS,7820053-1

In [53]:
with open('hiljem.csv') as f:
    tekst = f.readlines()

In [54]:
with open('hiljemkirjutatud.csv', mode='w', encoding="utf-8") as f:
    wr = csv.writer(f, delimiter=';')
    for rida in tekst:
        osad = rida.strip().split(';')
        wr.writerow(osad)

In [55]:
hiljem = pd.read_csv('hiljemkirjutatud.csv', sep=";")
hiljem

,id,route_short_name,route_long_name,a_date,trip_departure_time,trip_id,stop_sequence,stop_id,stop_name,departure_time,estimated_departure_time,deviation,user_id,name,location_id,stop_code
0,312869719,21,ööliin,01.09.2019,04:20:00,2340749,38,2043870,Mõisavahe,05:12:00,05:15:02,00:03:02,16812,Juht1,474TNS,7820155-1
1,312869077,21,ööliin,01.09.2019,04:20:00,2340749,39,2043848,Annelinna keskus,05:13:00,05:16:26,00:03:26,16812,Juht1,474TNS,7820014-1
2,312871275,21,ööliin,01.09.2019,04:20:00,2340749,40,2043863,Kalda tee,05:14:00,05:17:34,00:03:34,16812,Juht1,474TNS,7820064-1
3,312871276,21,ööliin,01.09.2019,04:20:00,2340749,41,2043846,Eeden,05:15:00,05:18:09,00:03:09,16812,Juht1,474TNS,7820028-1
4,312871647,21,ööliin,01.09.2019,04:20:00,2340749,42,2043904,Anne,05:16:00,05:19:14,00:03:14,16812,Juht1,474TNS,7820010-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266863,332817967,2,Lõunakeskus - Kannikese - Nõlvaku,18.10.2019,22:47:00,2387224,21,2074836,Rahumäe,23:14:00,23:17:14,00:03:14,16822,Juht21,341TNS,7820198-1
266864,332818137,2,Lõunakeskus - Kannikese - Nõlvaku,18.10.2019,22:47:00,2387224,22,2074837,Annelinna gümnaasium,23:14:00,23:17:14,00:03:14,16822,Juht21,341TNS,7820013-1
266865,332814272,2,Lõunakeskus - Kannikese - Nõlvaku,18.10.2019,22:47:00,2387224,23,2074813,Annelinna keskus,23:16:00,23:19:14,00:03:14,16822,Juht21,341TNS,7820015-1
266866,332818325,2,Lõunakeskus - Kannikese - Nõlvaku,18.10.2019,22:47:00,2387224,24,2074838,Mõisavahe,23:17:00,23:20:14,00:03:14,16822,Juht21,341TNS,7820156-1
266867,332818603,2,Lõunakeskus - Kannikese - Nõlvaku,18.10.2019,22:47:00,2387224,25,2074839,Nõlvaku,23:19:00,23:22:14,00:03:14,16822,Juht21,341TNS,7820166-1